.header {
  text-align: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputField {
  width: 50dvw;
  height: 5dvh;
  margin-top: 45dvh;
}

.inputFielf::after {
  
}