/* Variable declarations. */
:root {
  --bg-el-shadow: 40dvh;
  --bg-el-shadow-ani: 35dvh;
  --bg-el-size: 0.01px;
  --bg-el-x: 14dvw;
  --bg-el-y: 6dvh;
  --bg-el-color: #5730ff;
}

/* "Windows" */
/* --bg-el-color: rgb(48, 72, 255); */

@keyframes pulseRight {
  0% {
    box-shadow: var(--bg-el-x) var(--bg-el-y) var(--bg-el-shadow) var(--bg-el-shadow) var(--bg-el-color);
  }

  50% {
    box-shadow: var(--bg-el-x) var(--bg-el-y) var(--bg-el-shadow-ani) var(--bg-el-shadow-ani) var(--bg-el-color);
  }

  100% {
    box-shadow: var(--bg-el-x) var(--bg-el-y) var(--bg-el-shadow) var(--bg-el-shadow) var(--bg-el-color);
  }
}

@keyframes pulseLeft {
  0% {
    box-shadow: calc(-1 * var(--bg-el-x)) calc(-1 * var(--bg-el-y)) var(--bg-el-shadow) var(--bg-el-shadow) var(--bg-el-color);
  }

  50% {
    box-shadow: calc(-1 * var(--bg-el-x)) calc(-1 * var(--bg-el-y)) var(--bg-el-shadow-ani) var(--bg-el-shadow-ani) var(--bg-el-color);
  }

  100% {
    box-shadow: calc(-1 * var(--bg-el-x)) calc(-1 * var(--bg-el-y)) var(--bg-el-shadow) var(--bg-el-shadow) var(--bg-el-color);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header {
  text-align: center;
  height: 17dvh;
  font-size: 5dvw;
  color: #ffffff;
}

.main {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}

.gradient {
  background: linear-gradient(180deg, #fff8f2 70%, rgba(87,48,255,1) 100%);
}

/* Initialize wrapper animation values. */
.wrapper {
  position: relative;
  top: 0;
  transition-duration: 3s;
  margin: 5dvh;
  z-index: 3;
}

.inputForm {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out;
  margin-bottom: 5dvh;
}

.inputField {
  width: 50dvw;
  height: 7dvh;
  border: none;
  border-radius: 50px;
  font-size: x-large;
  box-shadow: 1px 1px 100px 10px #000000a7;
  padding: 10px;
  text-align: center;
  color: #333333;
  background-color: #ffffffed;
  transition: box-shadow 0.5s ease-in-out;
}

.inputField:hover,
.inputField:focus {
  box-shadow: 1px 1px 100px 10px #000000;
}

.inputField::placeholder,
.inputField[type="text"] {
  font-family: 'JetBrainsMono';
  color: #444444;
  outline: none;
}

.bg {
  min-height: 100dvh;
  /* overflow-y: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.bg::before {
  content: "";
  display: block;
  position: absolute;
  height: var(--bg-el-size);
  width: var(--bg-el-size);
  border-radius: 50%;
  background-color: var(--bg-el-color);
  z-index: -1;
  box-shadow: var(--bg-el-x) var(--bg-el-y) var(--bg-el-shadow) var(--bg-el-shadow) var(--bg-el-color);
  animation: pulseRight 10s ease-in-out infinite;
}

.bg::after {
  content: "";
  display: block;
  position: absolute;
  height: var(--bg-el-size);
  width: var(--bg-el-size);
  border-radius: 50%;
  background-color: var(--bg-el-color);
  z-index: -1;
  box-shadow: calc(-1 * var(--bg-el-x)) calc(-1 * var(--bg-el-y)) var(--bg-el-shadow) var(--bg-el-shadow) var(--bg-el-color);
  animation: pulseLeft 15s ease-in-out infinite;
}

.blink {
  animation: blink 2s ease-in-out infinite;
}

.schemaDiv {
  min-height: 55dvh;
  position: relative;
  top: -52dvh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 3s ease-in-out;
  padding: 2dvw;
  background-color: #0000008c;
  color: #ffffff;
  border-radius: 20px;
  width: 65dvw;
  box-shadow: 1px 1px 100px 10px #000000db;
  z-index: 2;
  /* display: flex;
  justify-content: center; */
}

.displaySchema {
  visibility: visible;
  opacity: 1;
}

.code {
  opacity: 0;
  font-family: 'JetBrainsMono';
  overflow-wrap: break-word;
  white-space: pre-wrap;
  display: block;
  transition: opacity 3s ease-in-out;
}

.displayCode {
  opacity: 1;
}

.copy {
  position: absolute;
  right: 2dvw; /* Needs to be the same as the padding of .schemaDiv. */
  top: 2dvw; /* Needs to be the same as the padding of .schemaDiv. */
  font-size: xx-large;
  transition: 1s ease-in-out;
  opacity: 0;
}

.copy:hover {
  color: #a897ff9d;
  cursor: pointer;
}

.copy:active {
  color: var(--foreground);
}

.displayCopy {
  opacity: 1;
}

.spinner {
  opacity: 1;
  position: absolute;
  transition: opacity 1s ease-in-out;
  left: 2dvw; /* Needs to be the same as the padding of .schemaDiv. */
}

.hideSpinner {
  opacity: 0;
}